.container,
h1 {
    text-align: center;
}

.container.buttons {
    width: 200px;
    height: 200px;
}

.vertical {
    width: 50%;
    margin-left: 25%;
}

input[type="radio"], label {
    vertical-align: middle;
}

#myChart {
    width: 100%;
    max-width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}

#quit {
    text-align: center;
    width: 10%;
}

.left {
    text-align: left;
}