.container,
h1 {
    text-align: center;
}

.container.buttons {
    width: 200px;
    height: 200px;
}

.vertical {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}

#myChart {
    width: 100%;
    max-width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}

#quit {
    text-align: center;
    width: 10%;
}